.venv/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*

# Temporary files from documentation build process
docs/_tmp_nextflow_schema.json
docs/images/upload_example*.tsv
